<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="RaceDataAdresse" value="D:\DevOps\FightManager_VB\FightManager_VB2\json\racedata.json" />
		<add key="ClasseDataAdresse" value="D:\DevOps\FightManager_VB\FightManager_VB2\json\classedata.json" />
    <add key="StuffDataAdresse" value="D:\DevOps\FightManager_VB\FightManager_VB2\json\stuffdata.json" />
    <add key="PowerDataAdresse" value="D:\DevOps\FightManager_VB\FightManager_VB2\json\powerdata.json" />
    <add key="DossierDesPersos" value="D:\DevOps\DossierDesPersos\" />
	</appSettings>
</configuration>