<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="RaceDataAdresse" value="D:\Truc\FightManager_VB2\FightManager_VB2\FightManager_VB2\json\racedata.json" />
		<add key="ClasseDataAdresse" value="D:\Truc\FightManager_VB2\FightManager_VB2\FightManager_VB2\json\classedata.json" />
	</appSettings>
</configuration>